{% extends 'base.html' %}

{% block content %}
<h1>Учить карточки: {{ collection.title }}</h1>

{% if empty %}
    <p>Коллекция пуста</p>
{% else %}

    <p>
        Карточка {{ current_index|add:1 }} / {{ total_cards }}
    </p>

    <hr>

    <div>
        <h2>Лицевая сторона</h2>

        <p>{{ card.first_page }}</p>
    </div>

    {% if show_back %}
        <hr>

        <div>
            <h2>Оборотная сторона</h2>

            <p>{{ card.second_page }}</p>
        </div>
    {% endif %}

    <hr>

    {% if not show_back %}
        <a
            href="?card={{ current_index }}&show_back=1"
        >
            Показать оборотную сторону
        </a>
    {% endif %}

    <br><br>

    {% if has_prev %}
        <a
            href="?card={{ current_index|add:-1 }}"
        >
            Предыдущая карточка
        </a>
    {% endif %}

    {% if has_next %}
        <a
            href="?card={{ current_index|add:1 }}"
        >
            Следующая карточка
        </a>
    {% endif %}

<hr>

<a href="/cards/{{ collection.id }}">Назад</a>

{% endif %}
{% endblock %}