{% extends "base.html" %}

{% block content %}
<h1>{{ quiz.title }}</h1>

<p>
    Тип: {{ quiz.type }} <br>
    Время для ответа на каждый вопрос: {{ quiz.seconds_for_answer }} sec <br>
    Система жизней: {{ quiz.life_system }} <br>
    Режим соревнования: {{ quiz.tournament }}
</p>

<hr>

{% if leaderboard %}
    <h2>Турнирная таблица</h2>

    <ul>
        {% for row in leaderboard %}
            <li>
                {{ row.user.username }} — {{ row.points }} баллов
            </li>
        {% endfor %}
    </ul>

    <hr>
{% endif %}

{% if user.is_authenticated %}
    <a href="{% url 'quiz_start' quiz.id %}">
        Начать викторину
    </a>
{% else %}
    <h2>Введите ваше имя, чтобы начать как гость или войдите в аккаунт или зарегистрируйтесь</h2>

    <form method="post" action="{% url 'quiz_guest' quiz.id %}">
        {% csrf_token %}

        <input type="text" name="name" required>

        <button type="submit">
            Начать викторину
        </button>
    </form>
{% endif %}
{% endblock %}